*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#circle-bg{
    background-color: #fbd2cd;
    width: 100%;
    height: 150%;
    position: absolute;
    top: -25%;
    left: -50%;
    z-index: -1;
    border-radius: 0 50% 50% 0;
}

.img-slide{
    position: absolute;
}  

button{
    width: 200px;
    height: 100px;
    position: absolute;
    right: 100px;
    top: 100px;
}

