*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

#circle-bg{
    background-color: #fbd2cd;
    width: 100%;
    height: 150%;
    position: absolute;
    top: -25%;
    left: -50%;
    z-index: -1;
    border-radius: 0 50% 50% 0;
}

.img-slide{
    /* scale :-1; */
    position: absolute;

}

.img-1{
    animation: img-1 1.5s both;
}

.img-2{
    animation: img-2 1.5s both;
}

.img-3{
    animation: img-3 1.5s both;
}

button{
    width: 200px ;
    height: 100px;
    position: absolute;
    right: 100px;
    top: 100px;

}

@keyframes img-1 {
    0%{
        top: -5%;
        left: -2%;
        transform: scale(.5);
    }
    100%{
        top: 22%;
        left: 17%;
        transform: scale(.9);
    }

}

@keyframes img-2 {
    0%{
        top: -35%;
        left: -32%;
        transform: scale(0);
    }
    100%{
        top: -5%;
        left: -2%;
        transform: scale(.5);
        filter: blur(8px);
    }

}

@keyframes img-3 {
    0%{
        opacity: 1;
        top: 22%;
        left: 17%;
        transform: scale(.9);
    }
    50%{
        opacity: 0;
        top: 22%;
        left: 17%;
        transform: scale(.9);
    }
    100%{
        opacity: 0;
        top: -35%;
        left: -32%;
        transform: scale(0);
    }

}

